#writeNotice {
  padding-top: 50px;
}
table {
  margin: auto;
}
input[type="text"] {
  border: 1.5px rgb(62, 255, 41) solid;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}
textarea {
  border: 1.5px rgb(62, 255, 41) solid;
  width: 500px;
  height: 400px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}
.header {
  height: 30px;
}
input[type="submit"],
#back-button a {
  display: inline-block;
  vertical-align: middle; /* 요소들을 수직 정렬합니다. */
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: 0;
  outline: 1.5px #007bff solid;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #007bff;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#back-button a {
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  top: -42px;
  right: -710px;
}

#back-button a:hover {
  background-color: #aaa;
}
