body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    color: #333;
}

hr {
    border: 1px solid #4CAF50;
    margin-top: 20px;
}

#questionContainer {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* 추가 */
}

#questionText {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

#result {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#nextButton, #prevButton, #homeButton {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nextButton:hover, #prevButton:hover, #homeButton:hover {
    background-color: #0056b3;
}

#pageNumber {
    text-align: center;
    color: #666;
    font-size: 14px;
}

#gi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 이미지가 다른 요소보다 뒤로 가도록 설정 */
}